{% extends 'base.html' %}

{% block content %}
  <form class="" action="" method="post">
    {% csrf_token %}

    <span>
      {{form.as_p}}

    </span>
    <input type="submit" name="" value="Submit">
    </form>
    <br>
    <div class="">
      <h2>BookMarks:</h2>
      {% for title in bookmark_list %}
      Title: {{ title }} &nbsp;// Description: {{ title.description }} &nbsp;// Time Created: {{ title.created }} &nbsp;// User: {{ title.user }}
       <a href="{% url 'short_view' title.new_url %}">localhost:8000/{{ title.new_url }}</a> <br>
      {% endfor %}
    </div>



{% endblock %}
